<header>
  Bitcoin exchange
</header>
<main>
  <ul *ngFor="let exchange of exchanges">
    <li>
      {{exchange.name}}, Price: {{exchange.price}}
    </li>
  </ul>
</main>
<footer>
  email:shmuft@gmail.com
</footer>
